.tab_wrap {
    padding: 0 0 20px 0;
    background: #fff;
    border: 1px solid #eee;
}
.pay_box1 {
    padding-top: 20px;
    margin-bottom: -4px;
    display: block;
}
.int_sp {
    display: block;
    border: 1px solid #dfdfdf;
    padding-left: 4px;
    background: #fff;
}
.int_sp input {
    width: 100%;
    border: 0;
    font-family: "Microsoft YaHei";
    outline: none;
    font-size: 14px;
    color: #333;
    height: 26px;
    line-height: 26px;
    line-height: 26px\9;
}
.w_100 {
    width: 100px;
    text-align: right;
    line-height: 28px;
}
.w_34 {
    line-height: 30px;
    width: 34px;
    text-align: center;
}
.fl {
    float: left;
}
.time_box {
    width: 185px;
}
.pay_btns.pb {
    float: left;
    margin-left: 30px;
    padding: 0;
    list-style: none;
    display: block;
    text-align: left;
}
.clear {
    clear: both;
}
.pay_box2 {
    margin-top: 10px;
}
.w_150 {
    width: 152px;
    text-align: left;
    line-height: 28px;
}
.pay_btns li {
    float: left;
    margin: 0 13px 0 0;
}
.pay_btns .pay_btn{display: block;text-align: center;height: 26px;line-height: 26px;border: 1px solid #dfdfdf;background: url(../images/icon_btn.png) repeat-x;padding: 0 20px;cursor: pointer;}
.pay_btns .btn_blue {
    background: #4C8DEE;
    color: #fff;
    border: 1px solid #4C8DEE;
    min-width: 40px;
}
.data_collect2 {
    left: 9px;
    right: 0;
/*     margin: 20px 0 -20px 0; */
    border-top: 1px solid #eee;
}
.textbox .textbox-text {
    border: 0 none;
    border-radius: 0px;
    font-size: 12px;
    margin: 0;
    outline-style: none;
    padding: 4px;
    resize: none;
    vertical-align: top;
    white-space: normal;
}
.data_collect2 table {
    width: 100%;
    height: 60px;
    font-size: 12px;
    margin: 10px auto;
    border-collapse: collapse;
}
.data_collect2 table td {
    border-right: 0px solid #eee;
     width: 12%;
}
.data_collect2 table td .ico {
    display: inline-block;
    width: 36px;
    height: 36px;
    background: url(../images/sprite.png) no-repeat;
    float: left;
    margin: 0 6px 0 10px;
    vertical-align: middle;
}
.data_collect2 table td .icoStyle {
    display: inline-block;
    width: 36px;
    height: 36px;
    background: url(../images/sprite.png) no-repeat 0 -152px;
    float: left;
    margin: 0 6px 0 10px;
    vertical-align: middle;
}