<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="ChannelPaywayBak">
	<resultMap id="BaseResultMap" type="com.hfepay.scancode.commons.entity.ChannelPaywayBak">
        <result property="id" column="A_id"/>
        <result property="channelNo" column="A_channel_no"/>
        <result property="payCode" column="A_pay_code"/>
        <result property="t0Rate" column="A_t0_rate"/>
        <result property="t1Rate" column="A_t1_rate"/>
        <result property="rate" column="A_rate"/>
        <result property="rateAmount" column="A_rate_amount"/>
        <result property="status" column="A_status"/>
        <result property="recordStatus" column="A_record_status"/>
        <result property="createTime" column="A_create_time"/>
        <result property="updateTime" column="A_update_time"/>
        <result property="operator" column="A_operator"/>
        <result property="remark" column="A_remark"/>
        <result property="temp1" column="A_temp_1"/>
        <result property="temp2" column="A_temp_2"/>
	</resultMap>
	
	<resultMap id="ProfitBoMap" type="com.hfepay.scancode.commons.bo.ProfitBo">
		<result property="identityNo" column="identityNo"/>
        <result property="t0RateDifference" column="t0RateDifference"/>
        <result property="t1RateDifference" column="t1RateDifference"/>
        <result property="payCode" column="payCode"/>
        <result property="parentIdentityNo" column="parentIdentityNo"/>
        <result property="parentT0Rate" column="parentT0Rate"/>
        <result property="parentT1Rate" column="parentT1Rate"/>
        <result property="rateDifference" column="rateDifference"/>
        <result property="parentRate" column="parentRate"/>
	</resultMap>
	
	<resultMap id="BaseResultMapVo" type="com.hfepay.scancode.commons.vo.ChannelPaywayBakVo" extends="BaseResultMap">
		<result property="operatorName" column="operator_name"/>
        <result property="channelName" column="channel_name"/>
        <result property="payName" column="pay_name"/>
	</resultMap>
	
	<sql id="Base_Column_List">
	    <![CDATA[
		A.id as A_id,A.channel_no as A_channel_no,A.pay_code as A_pay_code,A.t0_rate as A_t0_rate,A.t1_rate as A_t1_rate,A.rate as A_rate,A.rate_amount as A_rate_amount,A.status as A_status,A.record_status as A_record_status,A.create_time as A_create_time,A.update_time as A_update_time,A.operator as A_operator,A.remark as A_remark,A.temp_1 as A_temp_1,A.temp_2 as A_temp_2
	    ]]>
	</sql>

	<select id="findByCriteria" parameterType="com.hfepay.commons.criteria.Criteria" resultMap="BaseResultMapVo" >
    select
    <include refid="Base_Column_List" />,C.channel_name,D.para_name as pay_name
     from t_channel_payway_bak A
    left join t_channel_base C on A.channel_no = C.channel_no
    left join t_mapping_dicion D on A.pay_code = D.para_val 
    <if test="_parameter != null and _parameter != '' " >
      <where >
        <include refid="Global.Where_Clause" />
      </where>
    </if>
    <if test="hasOrderBy" >
      order by
      <foreach collection="orderBys" item="orderBy" separator="," > ${orderBy} </foreach>
    </if>
  </select>
  <select resultMap="BaseResultMapVo" parameterType="java.lang.String" id="findById" >
    select 
    <include refid="Base_Column_List" />,B.short_name as operator_name,C.channel_name,D.para_name as pay_name
    from t_channel_payway_bak A
     left join t_sys_admin B on A.operator = B.id 
    left join t_channel_base C on A.channel_no = C.channel_no
    left join t_mapping_dicion D on A.pay_code = D.para_val 
    where A.id = #{id}
  </select>
  <delete parameterType="java.lang.String" id="deleteById" >
    delete from t_channel_payway_bak
    where id = #{id}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.hfepay.commons.criteria.Criteria" >
    delete A from t_channel_payway_bak A
    <if test="_parameter != null and _parameter != '' " >
      <where >
        <include refid="Global.Where_Clause" />
      </where>
    </if>
  </delete>
  <insert id="insert" parameterType="com.hfepay.scancode.commons.entity.ChannelPaywayBak" >
    insert into t_channel_payway_bak (
        	id,
        	channel_no,
        	pay_code,
        	t0_rate,
        	t1_rate,
        	rate,
        	rate_amount,
        	status,
        	record_status,
        	create_time,
        	update_time,
        	operator,
        	remark,
        	temp_1,
        	temp_2
        )
    values (UUID(),
        	#{channelNo},
        	#{payCode},
        	#{t0Rate},
        	#{t1Rate},
        	#{rate},
        	#{rateAmount},
        	#{status},
        	#{recordStatus},
        	#{createTime},
        	#{updateTime},
        	#{operator},
        	#{remark},
        	#{temp1},
        	#{temp2}
    )
  </insert>
  <select id="countByCriteria" parameterType="com.hfepay.commons.criteria.Criteria" resultType="java.lang.Integer" >
    select count(*) from t_channel_payway_bak A
    left join t_channel_base C on A.channel_no = C.channel_no
    left join t_mapping_dicion D on A.pay_code = D.para_val 
    <if test="_parameter != null and _parameter != '' " >
      <where >
        <include refid="Global.Where_Clause" />
      </where>
    </if>
  </select>
  <update id="updateByCriteria" parameterType="map" >
    update t_channel_payway_bak A
    <set >
        	<if test="record.id != null and record.id != '' " >
        		A.id = #{record.id},
      		</if>
        	<if test="record.channelNo != null and record.channelNo != '' " >
        		A.channel_no = #{record.channelNo},
      		</if>
        	<if test="record.payCode != null and record.payCode != '' " >
        		A.pay_code = #{record.payCode},
      		</if>
        	<if test="record.t0Rate != null and record.t0Rate != '' " >
        		A.t0_rate = #{record.t0Rate},
      		</if>
        	<if test="record.t1Rate != null and record.t1Rate != '' " >
        		A.t1_rate = #{record.t1Rate},
      		</if>
        	<if test="record.rate != null and record.rate != '' " >
        		A.rate = #{record.rate},
      		</if>
        	<if test="record.rateAmount != null and record.rateAmount != '' " >
        		A.rate_amount = #{record.rateAmount},
      		</if>
        	<if test="record.status != null and record.status != '' " >
        		A.status = #{record.status},
      		</if>
        	<if test="record.recordStatus != null and record.recordStatus != '' " >
        		A.record_status = #{record.recordStatus},
      		</if>
        	<if test="record.createTime != null and record.createTime != '' " >
        		A.create_time = #{record.createTime},
      		</if>
        	<if test="record.updateTime != null and record.updateTime != '' " >
        		A.update_time = #{record.updateTime},
      		</if>
        	<if test="record.operator != null and record.operator != '' " >
        		A.operator = #{record.operator},
      		</if>
        	<if test="record.remark != null and record.remark != '' " >
        		A.remark = #{record.remark},
      		</if>
        	<if test="record.temp1 != null and record.temp1 != '' " >
        		A.temp_1 = #{record.temp1},
      		</if>
        	<if test="record.temp2 != null and record.temp2 != '' " >
        		A.temp_2 = #{record.temp2},
      		</if>
    </set>
    <if test="_parameter != null and _parameter != '' " >
      <where >
        <include refid="Global.Where_Clause" />
      </where>
    </if>
  </update>
  <update id="update" parameterType="com.hfepay.scancode.commons.entity.ChannelPaywayBak" >
    update t_channel_payway_bak A
    <set >
        	<if test="id != null and id != '' " >
        		A.id = #{id},
      		</if>
        	<if test="channelNo != null and channelNo != '' " >
        		A.channel_no = #{channelNo},
      		</if>
        	<if test="payCode != null and payCode != '' " >
        		A.pay_code = #{payCode},
      		</if>
        	<if test="t0Rate != null " >
        		A.t0_rate = #{t0Rate},
      		</if>
        	<if test="t1Rate != null " >
        		A.t1_rate = #{t1Rate},
      		</if>
        	<if test="rate != null " >
        		A.rate = #{rate},
      		</if>
        	<if test="rateAmount != null " >
        		A.rate_amount = #{rateAmount},
      		</if>
        	<if test="status != null and status != '' " >
        		A.status = #{status},
      		</if>
        	<if test="recordStatus != null and recordStatus != '' " >
        		A.record_status = #{recordStatus},
      		</if>
        	<if test="createTime != null and createTime != '' " >
        		A.create_time = #{createTime},
      		</if>
        	<if test="updateTime != null and updateTime != '' " >
        		A.update_time = #{updateTime},
      		</if>
        	<if test="operator != null and operator != '' " >
        		A.operator = #{operator},
      		</if>
        	<if test="remark != null and remark != '' " >
        		A.remark = #{remark},
      		</if>
        	<if test="temp1 != null and temp1 != '' " >
        		A.temp_1 = #{temp1},
      		</if>
        	<if test="temp2 != null and temp2 != '' " >
        		A.temp_2 = #{temp2},
      		</if>
    </set>
    where A.id = #{id}
  </update>
  
	<update id="updateStatus">
    update t_channel_payway_bak
		set `STATUS` = #{status}
		where id=#{id}
  </update>
  
  <select id="getChannelRateDiff"  resultMap="ProfitBoMap" >
	   SELECT
		t.channel_no as identityNo,
		'platpayway' as parentIdentityNo,
		t.t0_rate - y.t0_rate AS t0RateDifference,
		t.t1_rate - y.t1_rate AS t1RateDifference,
		t.rate-y.rate as rateDifference,
		y.t0_rate as  parentT0Rate,
		y.t1_rate as parentT1Rate,
		y.rate as parentRate,
		t.pay_code as payCode
	FROM
		t_channel_payway_bak t
	INNER JOIN t_hfepay_payway y
	on t.pay_code=y.pay_code
	WHERE
		y.pay_type=2 and y.record_status='Y'
  </select>
  
  
  <update id="doTruncateTable">
  	truncate table t_channel_payway_bak
  </update>
  
  <insert id="doBackUpTable">
	  Insert into t_channel_payway_bak
	(
	  `id`,
	  `channel_no`,
	  `pay_code`,
	  `t0_rate`,
	  `t1_rate`,
	  `rate`,
	  `rate_amount`,
	  `status`,
	  `record_status`,
	  `create_time`,
	  `update_time`,
	  `operator`,
	  `remark`,
	  `temp_1`,
	  `temp_2`
	) 
	select 
	  `id`,
	  `channel_no`,
	  `pay_code`,
	  `t0_rate`,
	  `t1_rate`,
	  `rate`,
	  `rate_amount`,
	  `status`,
	  `record_status`,
	  `create_time`,
	  `update_time`,
	  `operator`,
	  `remark`,
	  `temp_1`,
	  `temp_2`
	from t_channel_payway
  </insert>
  
</mapper>

