<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="MerchantInfo">
	<resultMap id="BaseResultMap" type="com.hfepay.scancode.commons.entity.MerchantInfo">
        <result property="id" column="A_id"/>
        <result property="channelNo" column="A_channel_no"/>
        <result property="agentNo" column="A_agent_no"/>
        <result property="merchantNo" column="A_merchant_no"/>
        <result property="merchantName" column="A_merchant_name"/>
        <result property="shortName" column="A_short_name"/>
        <result property="platformMerchantNo" column="A_platform_merchant_no"/>
        <result property="busType" column="A_bus_type"/>
        <result property="name" column="A_name"/>
        <result property="idCard" column="A_id_card"/>
        <result property="idcardImg1" column="A_idcard_img_1"/>
        <result property="idcardImg2" column="A_idcard_img_2"/>
        <result property="idcardImg3" column="A_idcard_img_3"/>
        <result property="mobile" column="A_mobile"/>
        <result property="phone" column="A_phone"/>
        <result property="email" column="A_email"/>
        <result property="address" column="A_address"/>
        <result property="merchantLicense" column="A_merchant_license"/>
        <result property="merchantLicenseImg" column="A_merchant_license_img"/>
        <result property="taxNo" column="A_tax_no"/>
        <result property="taxImg" column="A_tax_img"/>
        <result property="orgNo" column="A_org_no"/>
        <result property="qrCode" column="A_qr_code"/>
        <result property="creditPayStatus" column="A_credit_pay_status"/>
        <result property="authenStatus" column="A_authen_status"/>
        <result property="status" column="A_status"/>
        <result property="createTime" column="A_create_time"/>
        <result property="updateTime" column="A_update_time"/>
        <result property="operator" column="A_operator"/>
        <result property="remark" column="A_remark"/>
        <result property="temp1" column="A_temp_1"/>
        <result property="temp2" column="A_temp_2"/>
        <result property="temp3" column="A_temp_3"/>
        <result property="temp4" column="A_temp_4"/>
	</resultMap>
	
	<resultMap id="BaseResultMapVo" type="com.hfepay.scancode.commons.vo.MerchantInfoVo" extends="BaseResultMap">
		<result property="operatorName" column="operator_name"/>
		<result property="channelName" column="channel_name"/>
		<result property="agentName" column="agent_name"/>
	</resultMap>
	
	<sql id="Base_Column_List">
	    <![CDATA[
		A.id as A_id,A.channel_no as A_channel_no,A.agent_no as A_agent_no,A.merchant_no as A_merchant_no,A.merchant_name as A_merchant_name,A.short_name as A_short_name,
		A.platform_merchant_no as A_platform_merchant_no,A.bus_type as A_bus_type,A.name as A_name,A.id_card as A_id_card,A.idcard_img_1 as A_idcard_img_1,
		A.idcard_img_2 as A_idcard_img_2,A.idcard_img_3 as A_idcard_img_3,A.mobile as A_mobile,A.phone as A_phone,A.email as A_email,A.address as A_address,
		A.merchant_license as A_merchant_license,A.merchant_license_img as A_merchant_license_img,A.tax_no as A_tax_no,A.tax_img as A_tax_img,
		A.org_no as A_org_no,A.qr_code as A_qr_code,A.credit_pay_status as A_credit_pay_status,A.authen_status as A_authen_status,A.status as A_status,A.create_time as A_create_time,
		A.update_time as A_update_time,A.operator as A_operator,A.remark as A_remark,A.temp_1 as A_temp_1,A.temp_2 as A_temp_2,A.temp_3 as A_temp_3,A.temp_4 as A_temp_4
	    ]]>
	</sql>
	
	<sql id="channel_filter">
	    <if test="params.nodeSeq != null" >
        	EXISTS (
				SELECT
					n.current_node
				FROM
					t_node_relation n
				WHERE
				 <if test="params.identityFlag != null" >
					 n.identity_flag = '${params.identityFlag}' and
				</if>
					 n.node_seq like CONCAT('${params.nodeSeq}','%') and A.merchant_no = n.current_node)
				<if test="@com.hfepay.commons.base.collection.Collections@isNotEmpty(conditions)"> AND </if> 
      	</if>
	</sql>

	<select id="findByCriteria" parameterType="com.hfepay.commons.criteria.Criteria" resultMap="BaseResultMapVo" >
    select
    <include refid="Base_Column_List" />,C.channel_name as channel_name,D.agent_name
     from t_merchant_info A
     left join t_channel_base C on A.channel_no = C.channel_no 
     left join t_agent_base D on A.agent_no = D.agent_no 
    <if test="_parameter != null and _parameter != '' " >
      <where >
      	<include refid="channel_filter" />
        <include refid="Global.Where_Clause" />
      </where>
    </if>
    <if test="hasOrderBy" >
      order by
      <foreach collection="orderBys" item="orderBy" separator="," > ${orderBy} </foreach>
    </if>
  </select>
  <select resultMap="BaseResultMapVo" parameterType="java.lang.String" id="findById" >
    select 
    <include refid="Base_Column_List" />,B.short_name as operator_name,C.channel_name as channel_name,D.agent_name
    from t_merchant_info A left join t_sys_admin B on A.operator = B.id 
    left join t_channel_base C on A.channel_no = C.channel_no 
    left join t_agent_base D on A.agent_no = D.agent_no 
    where A.id = #{id}
  </select>
  <delete parameterType="java.lang.String" id="deleteById" >
    delete from t_merchant_info
    where id = #{id}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.hfepay.commons.criteria.Criteria" >
    delete A from t_merchant_info A
    <if test="_parameter != null and _parameter != '' " >
      <where >
        <include refid="Global.Where_Clause" />
      </where>
    </if>
  </delete>
  <insert id="insert" parameterType="com.hfepay.scancode.commons.entity.MerchantInfo" >
    insert into t_merchant_info (
        	id,
        	channel_no,
        	agent_no,
        	merchant_no,
        	merchant_name,
        	short_name,
        	platform_merchant_no,
        	bus_type,
        	name,
        	id_card,
        	idcard_img_1,
        	idcard_img_2,
        	idcard_img_3,
        	mobile,
        	phone,
        	email,
        	address,
        	merchant_license,
        	merchant_license_img,
        	tax_no,
        	tax_img,
        	org_no,
        	qr_code,
        	authen_status,
        	status,
        	create_time,
        	update_time,
        	operator,
        	remark,
        	temp_1,
        	temp_2,
        	temp_3,
        	temp_4,
        	RECORD_STATUS
        )
    values (
        	#{id},
        	#{channelNo},
        	#{agentNo},
        	#{merchantNo},
        	#{merchantName},
        	#{shortName},
        	#{platformMerchantNo},
        	#{busType},
        	#{name},
        	#{idCard},
        	#{idcardImg1},
        	#{idcardImg2},
        	#{idcardImg3},
        	#{mobile},
        	#{phone},
        	#{email},
        	#{address},
        	#{merchantLicense},
        	#{merchantLicenseImg},
        	#{taxNo},
        	#{taxImg},
        	#{orgNo},
        	#{qrCode},
        	#{authenStatus},
        	#{status},
        	#{createTime},
        	#{updateTime},
        	#{operator},
        	#{remark},
        	#{temp1},
        	#{temp2},
        	#{temp3},
        	#{temp4},
        	#{recordStatus}
    )
  </insert>
  <select id="countByCriteria" parameterType="com.hfepay.commons.criteria.Criteria" resultType="java.lang.Integer" >
    select count(*) from t_merchant_info A
    left join t_channel_base C on A.channel_no = C.channel_no 
     left join t_agent_base D on A.agent_no = D.agent_no 
    <if test="_parameter != null and _parameter != '' " >
      <where >
      	<include refid="channel_filter" />
        <include refid="Global.Where_Clause" />
      </where>
    </if>
  </select>
  <update id="updateByCriteria" parameterType="map" >
    update t_merchant_info A
    <set >
        	<if test="record.id != null and record.id != '' " >
        		A.id = #{record.id},
      		</if>
        	<if test="record.channelNo != null and record.channelNo != '' " >
        		A.channel_no = #{record.channelNo},
      		</if>
        	<if test="record.agentNo != null and record.agentNo != '' " >
        		A.agent_no = #{record.agentNo},
      		</if>
        	<if test="record.merchantNo != null and record.merchantNo != '' " >
        		A.merchant_no = #{record.merchantNo},
      		</if>
        	<if test="record.merchantName != null and record.merchantName != '' " >
        		A.merchant_name = #{record.merchantName},
      		</if>
        	<if test="record.shortName != null and record.shortName != '' " >
        		A.short_name = #{record.shortName},
      		</if>
        	<if test="record.platformMerchantNo != null and record.platformMerchantNo != '' " >
        		A.platform_merchant_no = #{record.platformMerchantNo},
      		</if>
        	<if test="record.busType != null and record.busType != '' " >
        		A.bus_type = #{record.busType},
      		</if>
        	<if test="record.name != null and record.name != '' " >
        		A.name = #{record.name},
      		</if>
        	<if test="record.idCard != null and record.idCard != '' " >
        		A.id_card = #{record.idCard},
      		</if>
        	<if test="record.idcardImg1 != null and record.idcardImg1 != '' " >
        		A.idcard_img_1 = #{record.idcardImg1},
      		</if>
        	<if test="record.idcardImg2 != null and record.idcardImg2 != '' " >
        		A.idcard_img_2 = #{record.idcardImg2},
      		</if>
        	<if test="record.idcardImg3 != null and record.idcardImg3 != '' " >
        		A.idcard_img_3 = #{record.idcardImg3},
      		</if>
        	<if test="record.mobile != null and record.mobile != '' " >
        		A.mobile = #{record.mobile},
      		</if>
        	<if test="record.phone != null and record.phone != '' " >
        		A.phone = #{record.phone},
      		</if>
        	<if test="record.email != null and record.email != '' " >
        		A.email = #{record.email},
      		</if>
        	<if test="record.address != null and record.address != '' " >
        		A.address = #{record.address},
      		</if>
        	<if test="record.merchantLicense != null and record.merchantLicense != '' " >
        		A.merchant_license = #{record.merchantLicense},
      		</if>
        	<if test="record.merchantLicenseImg != null and record.merchantLicenseImg != '' " >
        		A.merchant_license_img = #{record.merchantLicenseImg},
      		</if>
        	<if test="record.taxNo != null and record.taxNo != '' " >
        		A.tax_no = #{record.taxNo},
      		</if>
        	<if test="record.taxImg != null and record.taxImg != '' " >
        		A.tax_img = #{record.taxImg},
      		</if>
        	<if test="record.orgNo != null and record.orgNo != '' " >
        		A.org_no = #{record.orgNo},
      		</if>
        	<if test="record.qrCode != null and record.qrCode != '' " >
        		A.qr_code = #{record.qrCode},
      		</if>
      		<if test="record.creditPayStatus != null and record.creditPayStatus != '' " >
        		A.credit_pay_status = #{record.creditPayStatus},
      		</if>
        	<if test="record.authenStatus != null and record.authenStatus != '' " >
        		A.authen_status = #{record.authenStatus},
      		</if>
        	<if test="record.status != null and record.status != '' " >
        		A.status = #{record.status},
      		</if>
        	<if test="record.createTime != null and record.createTime != '' " >
        		A.create_time = #{record.createTime},
      		</if>
        	<if test="record.updateTime != null and record.updateTime != '' " >
        		A.update_time = #{record.updateTime},
      		</if>
        	<if test="record.operator != null and record.operator != '' " >
        		A.operator = #{record.operator},
      		</if>
        	<if test="record.remark != null and record.remark != '' " >
        		A.remark = #{record.remark},
      		</if>
        	<if test="record.temp1 != null and record.temp1 != '' " >
        		A.temp_1 = #{record.temp1},
      		</if>
        	<if test="record.temp2 != null and record.temp2 != '' " >
        		A.temp_2 = #{record.temp2},
      		</if>
        	<if test="record.temp3 != null and record.temp3 != '' " >
        		A.temp_3 = #{record.temp3},
      		</if>
        	<if test="record.temp4 != null and record.temp4 != '' " >
        		A.temp_4 = #{record.temp4},
      		</if>
    </set>
    <if test="_parameter != null and _parameter != '' " >
      <where >
        <include refid="Global.Where_Clause" />
      </where>
    </if>
  </update>
  <update id="update" parameterType="com.hfepay.scancode.commons.entity.MerchantInfo" >
    update t_merchant_info A
    <set >
        	<if test="id != null and id != '' " >
        		A.id = #{id},
      		</if>
        	<if test="channelNo != null and channelNo != '' " >
        		A.channel_no = #{channelNo},
      		</if>
        	<if test="agentNo != null and agentNo != '' " >
        		A.agent_no = #{agentNo},
      		</if>
        	<if test="merchantNo != null and merchantNo != '' " >
        		A.merchant_no = #{merchantNo},
      		</if>
        	<if test="merchantName != null and merchantName != '' " >
        		A.merchant_name = #{merchantName},
      		</if>
        	<if test="shortName != null and shortName != '' " >
        		A.short_name = #{shortName},
      		</if>
        	<if test="platformMerchantNo != null and platformMerchantNo != '' " >
        		A.platform_merchant_no = #{platformMerchantNo},
      		</if>
        	<if test="busType != null and busType != '' " >
        		A.bus_type = #{busType},
      		</if>
        	<if test="name != null and name != '' " >
        		A.name = #{name},
      		</if>
        	<if test="idCard != null and idCard != '' " >
        		A.id_card = #{idCard},
      		</if>
        	<if test="idcardImg1 != null and idcardImg1 != '' " >
        		A.idcard_img_1 = #{idcardImg1},
      		</if>
        	<if test="idcardImg2 != null and idcardImg2 != '' " >
        		A.idcard_img_2 = #{idcardImg2},
      		</if>
        	<if test="idcardImg3 != null and idcardImg3 != '' " >
        		A.idcard_img_3 = #{idcardImg3},
      		</if>
        	<if test="mobile != null " >
        		A.mobile = #{mobile},
      		</if>
        	<if test="phone != null and phone != '' " >
        		A.phone = #{phone},
      		</if>
        	<if test="email != null and email != '' " >
        		A.email = #{email},
      		</if>
        	<if test="address != null and address != '' " >
        		A.address = #{address},
      		</if>
        	<if test="merchantLicense != null and merchantLicense != '' " >
        		A.merchant_license = #{merchantLicense},
      		</if>
        	<if test="merchantLicenseImg != null and merchantLicenseImg != '' " >
        		A.merchant_license_img = #{merchantLicenseImg},
      		</if>
        	<if test="taxNo != null and taxNo != '' " >
        		A.tax_no = #{taxNo},
      		</if>
        	<if test="taxImg != null and taxImg != '' " >
        		A.tax_img = #{taxImg},
      		</if>
        	<if test="orgNo != null and orgNo != '' " >
        		A.org_no = #{orgNo},
      		</if>
        	<if test="qrCode != null and qrCode != '' " >
        		A.qr_code = #{qrCode},
      		</if>
      		<if test="creditPayStatus != null and creditPayStatus != '' " >
        		A.credit_pay_status = #{creditPayStatus},
      		</if>
        	<if test="authenStatus != null and authenStatus != '' " >
        		A.authen_status = #{authenStatus},
      		</if>
        	<if test="status != null and status != '' " >
        		A.status = #{status},
      		</if>
        	<if test="createTime != null and createTime != '' " >
        		A.create_time = #{createTime},
      		</if>
        	<if test="updateTime != null and updateTime != '' " >
        		A.update_time = #{updateTime},
      		</if>
        	<if test="operator != null and operator != '' " >
        		A.operator = #{operator},
      		</if>
        	<if test="remark != null and remark != '' " >
        		A.remark = #{remark},
      		</if>
        	<if test="temp1 != null and temp1 != '' " >
        		A.temp_1 = #{temp1},
      		</if>
        	<if test="temp2 != null and temp2 != '' " >
        		A.temp_2 = #{temp2},
      		</if>
        	<if test="temp3 != null and temp3 != '' " >
        		A.temp_3 = #{temp3},
      		</if>
        	<if test="temp4 != null and temp4 != '' " >
        		A.temp_4 = #{temp4},
      		</if>
      		<if test="recordStatus != null and recordStatus != '' " >
        		A.RECORD_STATUS = #{recordStatus},
      		</if>
    </set>
    where A.id = #{id}
  </update>
  
  <update id="updateStatus">
    update t_merchant_info
		set `STATUS` = #{status}
		where id=#{id}
  </update>
  
   <update id="updateByMerchantNo" parameterType="com.hfepay.scancode.commons.entity.MerchantInfo" >
    update t_merchant_info A
    <set >
        	<if test="id != null and id != '' " >
        		A.id = #{id},
      		</if>
        	<if test="channelNo != null and channelNo != '' " >
        		A.channel_no = #{channelNo},
      		</if>
        	<if test="agentNo != null and agentNo != '' " >
        		A.agent_no = #{agentNo},
      		</if>
        	<if test="merchantNo != null and merchantNo != '' " >
        		A.merchant_no = #{merchantNo},
      		</if>
        	<if test="merchantName != null and merchantName != '' " >
        		A.merchant_name = #{merchantName},
      		</if>
        	<if test="shortName != null and shortName != '' " >
        		A.short_name = #{shortName},
      		</if>
        	<if test="platformMerchantNo != null and platformMerchantNo != '' " >
        		A.platform_merchant_no = #{platformMerchantNo},
      		</if>
        	<if test="busType != null and busType != '' " >
        		A.bus_type = #{busType},
      		</if>
        	<if test="name != null and name != '' " >
        		A.name = #{name},
      		</if>
        	<if test="idCard != null and idCard != '' " >
        		A.id_card = #{idCard},
      		</if>
        	<if test="idcardImg1 != null and idcardImg1 != '' " >
        		A.idcard_img_1 = #{idcardImg1},
      		</if>
        	<if test="idcardImg2 != null and idcardImg2 != '' " >
        		A.idcard_img_2 = #{idcardImg2},
      		</if>
        	<if test="idcardImg3 != null and idcardImg3 != '' " >
        		A.idcard_img_3 = #{idcardImg3},
      		</if>
        	<if test="mobile != null and mobile != '' " >
        		A.mobile = #{mobile},
      		</if>
        	<if test="phone != null and phone != '' " >
        		A.phone = #{phone},
      		</if>
        	<if test="email != null and email != '' " >
        		A.email = #{email},
      		</if>
        	<if test="address != null and address != '' " >
        		A.address = #{address},
      		</if>
        	<if test="merchantLicense != null and merchantLicense != '' " >
        		A.merchant_license = #{merchantLicense},
      		</if>
        	<if test="merchantLicenseImg != null and merchantLicenseImg != '' " >
        		A.merchant_license_img = #{merchantLicenseImg},
      		</if>
        	<if test="taxNo != null and taxNo != '' " >
        		A.tax_no = #{taxNo},
      		</if>
        	<if test="taxImg != null and taxImg != '' " >
        		A.tax_img = #{taxImg},
      		</if>
        	<if test="orgNo != null and orgNo != '' " >
        		A.org_no = #{orgNo},
      		</if>
        	<if test="qrCode != null and qrCode != '' " >
        		A.qr_code = #{qrCode},
      		</if>
      		<if test="creditPayStatus != null and creditPayStatus != '' " >
        		A.credit_pay_status = #{creditPayStatus},
      		</if>
        	<if test="authenStatus != null and authenStatus != '' " >
        		A.authen_status = #{authenStatus},
      		</if>
        	<if test="status != null and status != '' " >
        		A.status = #{status},
      		</if>
        	<if test="createTime != null and createTime != '' " >
        		A.create_time = #{createTime},
      		</if>
        	<if test="updateTime != null and updateTime != '' " >
        		A.update_time = #{updateTime},
      		</if>
        	<if test="operator != null and operator != '' " >
        		A.operator = #{operator},
      		</if>
        	<if test="remark != null and remark != '' " >
        		A.remark = #{remark},
      		</if>
        	<if test="temp1 != null and temp1 != '' " >
        		A.temp_1 = #{temp1},
      		</if>
        	<if test="temp2 != null and temp2 != '' " >
        		A.temp_2 = #{temp2},
      		</if>
        	<if test="temp3 != null and temp3 != '' " >
        		A.temp_3 = #{temp3},
      		</if>
        	<if test="temp4 != null and temp4 != '' " >
        		A.temp_4 = #{temp4},
      		</if>
    </set>
    where A.merchant_no = #{merchantNo}
  </update>
</mapper>

